<h2>Lista de comandronas</h2>
<hr>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Nombre</th>
      <th>Direccion</th>
      <% if @username == 'ciesar' %>
      <th>Categoria</th>
      <% end %>
      <th>Codigo</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <% @comadronas.each_with_index do |c, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= c.nombre %></td>
        <td><%= c.direccion %></td>
        <% if @username == 'ciesar' %>
          <td><%= c.categoria %></td>
        <% end %>
        <td><%= c.token %></td>
        <td><a href="#" class="delete-comadrona noroot" data-id="<%= c.id %>" ><i class="fa fa-trash-o"></i></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
