<!DOCTYPE html>
<html>
<head>
  <title>Parto.org | login</title>
  <%= stylesheet_link_tag 'bootswatch', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <%= yield %>
</body>
</html>
